{% extends 'Main.html' %}

{% block content %}
{% load static %}
  
<section>
  <div class="container my-5" > 
    <h3 style="color: #c00000ff;" class="text-center ">"Exciting Developments Ahead"</h3>
    
    <p>As we are in the early stages of our journey, this section will be updated with detailed 
      outcomes and success stories as we continue to partner with schools and educators. 
      Stay tuned for insights and results that showcase the impact of our innovative programs.</p>
      
      <img src="{% static 'img/innovation.jpg' %}" class="img-fluid d-block mx-auto" alt="Custom Icon" style="width: 60%;"/>


    <hr class="my-4" style="border: 2px solid #ff6666;">
       
      
  </div>
  
</section>
{% endblock %}


 




  