
{% extends 'Main.html' %}

{% block content %}
{% load static %}
    
<section>
  <div class="container my-5" > 
    <h3 style="color: #c00000ff;">About Us</h3>
    <p>At Mastinno, we are passionate about revolutionizing education through hands-on learning and innovation.
       As the world's best educational products developing company, our mission is to empower the next generation of thinkers, 
       creators, and problem-solvers with cutting-edge educational kits and programs. Whether you're a student, educator, 
       or enthusiast, we're here to support your journey in exploring the exciting world of STEM Education.</p>
       <hr class="my-4" style="border: 2px solid #ff6666;">

       <div class="container">
        <div class="row">
          <div class="col-3 d-none d-sm-block">
            <img src="{% static 'img/Vision.jpg' %}" alt="Custom Icon" style="width: 200px; height: 200px;">   
          </div>
          <div class="col d-flex align-items-center justify-content-center">            
            <p>Mastinno envisions a future where every student is empowered with hands-on STEM education that fosters creativity, critical
              thinking, and practical skills. 
              We aim to revolutionize the learning experience, preparing students to thrive in a rapidly evolving global landscape. 
              Our ultimate goal is to become the<span style="color:#c00000ff;font-weight: bold;"> World's Leading Educational 
                Product Development Company</span>, 
              renowned for innovation, quality, and impact.
              Furthermore, we aim to be the <span style="color:#c00000ff;font-weight: bold;">Premier Provider of Data-Driven Insights</span> into student learning outcomes, 
              offering actionable intelligence to schools and governments to enhance educational strategies and outcomes.
              </p>
          </div>
        </div>
      </div>
      <hr class="my-4" style="border: 2px solid #ff6666;">
       </div>
       <div class="container">
        <div class="row">
          <div class="col d-flex align-items-center justify-content-center">
            <p>At Mastinno, we aim to prepare Indian students for global competence by providing innovative,
               hands-on STEM education solutions. We develop high-quality educational kits, interactive learning 
               tools, and comprehensive curricula that nurture creativity, enhance critical thinking, and equip 
               students with practical skills essential for success in the <span style="color:#c00000ff;font-weight: bold;">21st century</span>. </p>   
          </div>
          <div class="col-3 d-none d-sm-block">            
             <img src="{% static 'img/Mission.jpg' %}"alt="Custom Icon" style="width: 200px; height: 200px;">
          </div>
        </div>
        <hr class="my-4" style="border: 2px solid #ff6666;">
      </div>
      
       </div>
  </div>
</section>

<!--Advisory Team-->
<section>
  <div class="container my-3">
    <h3 style="color: #c00000ff;">Rapid.Advisors</h3>
    <div class="row mt-5">
      <!--Photo 1-->
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/mohanph.jpg' %}" alt="Card image cap" >
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">Mohan Pagadala</h5>
            <p class="card-text text-center">Co-founder, CEO & MD<br> iSpark Learning Solutions.</p>
          </div>
        </div>
      </div>
       <!--Photo 1-->
    </div>
    <hr class="my-4" style="border: 2px solid #ff6666;">
  </div>
</section>


<!--Founders Teams-->
<section>
  <div class="container my-3">
    <h3 style="color: #c00000ff;">Rapid.Founders</h3>
   
    <div class="row mt-5">
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/Karry.jpg' %}" alt="Card image cap">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">Karry Venkatesh</h5>
            <p class="card-text text-center">Founder & CTO</p>
          </div>
        </div>

       
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/sebin.jpg' %}" alt="Card image cap">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">Sebin Iqbal</h5>
            <p class="card-text text-center">Co-founder</p>
          </div>
      </div>

    </div>
    <hr class="my-4" style="border: 2px solid #ff6666;">
  </div>
</section>

<!--operations-->
<div class="container my-3">
  <h3 style="color: #c00000ff;">Rapid.Operations</h3>
 
  <div class="row mt-5">
    
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/Greeshma.jpeg' %}" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">Greeshma</h5>
          <p class="card-text text-center">Creative Head</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/kusha.jpeg' %}" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">K Usha</h5>
          <p class="card-text text-center">Head, Innovation Labs</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/joshi.jpeg' %}" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">Prakash</h5>
          <p class="card-text text-center">Lead, Marketing</p>
        </div>
      </div>
    </div>
    
    
  </div>
  <hr class="my-4" style="border: 2px solid #ff6666;">
</div>

<!--Rapid.R&D-->
<div class="container my-3">
  <h3 style="color: #c00000ff;">Rapid.R&D</h3>
 
  <div class="row mt-5">
    
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/smile.png' %}" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center">This Could Be You!</h5>
          <p class="card-text text-center"></p>
        </div>
      </div>
      
    </div>
   
  </div>
  <hr class="my-4" style="border: 2px solid #ff6666;">
</div>





    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <script>
      mapboxgl.accessToken =
        'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-71.060982, 42.35725],
        zoom: 18,
      })
    </script>



{% endblock %}