{% extends 'Main.html' %}

{% block content %}
{% load static %}
    
<section>
  <div class="container my-5" > 
    <h3 style="color: #c00000ff;">Our Products</h3>
    <p>Explore our range of products and programs designed to make learning fun, 
      engaging, and impactful. Let's build the future together!</p>
       <hr class="my-4" style="border: 2px solid #ff6666;">

       
      
  </div>
</section>
<div class="container">

  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel Indicators -->
    
    <div class="carousel-inner d-none d-sm-block">
      <div class="carousel-item active">
        <div class="row">
          <div class="col">
            <img src="{% static 'img/kit4.jpg' %}" class="d-block w-100" alt="First slide" style="border-radius: 20px;">
          </div>
          <div class="col">
            <img src="{% static 'img/Low Volume.jpg' %}" class="d-block w-100" alt="Second slide" style="border-radius: 20px;">
          </div>
          <div class="col">
            <img src="{% static 'img/kit4.jpg' %}" class="d-block w-100" alt="Third slide" style="border-radius: 20px;">
          </div>
          <div class="col">
            <img src="{% static 'img/Low Volume.jpg' %}" class="d-block w-100" alt="Fourth slide" style="border-radius: 20px;">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col">
            <img src="{% static 'img/kit4.jpg' %}" class="d-block w-100" alt="Sixth slide" style="border-radius: 20px;">
          </div>
          <div class="col">
            <img src="{% static 'img/Low Volume.jpg' %}" class="d-block w-100" alt="Seventh slide" style="border-radius: 20px;">
          </div>
          <div class="col">
            <img src="{% static 'img/kit4.jpg' %}" class="d-block w-100" alt="Eighth slide" style="border-radius: 20px;">
          </div>
          <div class="col">
            <img src="{% static 'img/Low Volume.jpg' %}" class="d-block w-100" alt="Ninth slide" style="border-radius: 20px;">
          </div>
        </div>
      </div>
      <!-- Add more carousel items if you have more slides -->
    </div>
    

    <!-- Carousel Controls (Arrows) -->
    <a class="carousel-control-prev d-none d-sm-block" href="#carouselExample" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next d-none d-sm-block" href="#carouselExample" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>



</div>

<!--Image of Products-->

<section>
  <div class="container my-5">

    <section style="background-color: #ffffff;">
      <div class="container py-5">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 mb-4"> <!-- Use Bootstrap grid classes -->
            <div class="card h-100"> <!-- Ensure the card takes full height available -->
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0">Level 4</p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x4</p>
                </div>
              </div>
              <img src="{% static 'img/kit4.jpg' %}" class="card-img-top" alt="Laptop" style="max-height: 150px; object-fit: contain;" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Communication</a></p>
                  <p class="small text-danger"><s>4000.00 INR</s></p>
                </div>
          
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">Wireless-Blocks</h5>
                  <h5 class="text-dark mb-0">INR 2999.00</h5>
                </div>
          
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="d-flex justify-content-end my-0">
                    <a href="#!" class="btn btn-danger">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-6 col-md-4 mb-4"> <!-- Use Bootstrap grid classes -->
            <div class="card h-100"> <!-- Ensure the card takes full height available -->
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0">Level 4</p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x4</p>
                </div>
              </div>
              <img src="{% static 'img/kit4.jpg' %}" class="card-img-top" alt="Laptop" style="max-height: 150px; object-fit: contain;" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Communication</a></p>
                  <p class="small text-danger"><s>4000.00 INR</s></p>
                </div>
          
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">Wireless-Blocks</h5>
                  <h5 class="text-dark mb-0">INR 2999.00</h5>
                </div>
          
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="d-flex justify-content-end my-0">
                    <a href="#!" class="btn btn-danger">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 mb-4"> <!-- Use Bootstrap grid classes -->
            <div class="card h-100"> <!-- Ensure the card takes full height available -->
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0">Level 4</p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x4</p>
                </div>
              </div>
              <img src="{% static 'img/kit4.jpg' %}" class="card-img-top" alt="Laptop" style="max-height: 150px; object-fit: contain;" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Communication</a></p>
                  <p class="small text-danger"><s>4000.00 INR</s></p>
                </div>
          
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">Wireless-Blocks</h5>
                  <h5 class="text-dark mb-0">INR 2999.00</h5>
                </div>
          
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="d-flex justify-content-end my-0">
                    <a href="#!" class="btn btn-danger">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section>
  <div class="container my-3">

    <section style="background-color: #ffffff;">
      <div class="container py-1">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 mb-4"> <!-- Use Bootstrap grid classes -->
            <div class="card h-100"> <!-- Ensure the card takes full height available -->
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0">Level 4</p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x4</p>
                </div>
              </div>
              <img src="{% static 'img/kit4.jpg' %}" class="card-img-top" alt="Laptop" style="max-height: 150px; object-fit: contain;" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Communication</a></p>
                  <p class="small text-danger"><s>4000.00 INR</s></p>
                </div>
          
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">Wireless-Blocks</h5>
                  <h5 class="text-dark mb-0">INR 2999.00</h5>
                </div>
          
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="d-flex justify-content-end my-0">
                    <a href="#!" class="btn btn-danger">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-6 col-md-4 mb-4"> <!-- Use Bootstrap grid classes -->
            <div class="card h-100"> <!-- Ensure the card takes full height available -->
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0">Level 4</p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x4</p>
                </div>
              </div>
              <img src="{% static 'img/kit4.jpg' %}" class="card-img-top" alt="Laptop" style="max-height: 150px; object-fit: contain;" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Communication</a></p>
                  <p class="small text-danger"><s>4000.00 INR</s></p>
                </div>
          
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">Wireless-Blocks</h5>
                  <h5 class="text-dark mb-0">INR 2999.00</h5>
                </div>
          
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="d-flex justify-content-end my-0">
                    <a href="#!" class="btn btn-danger">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 mb-4"> <!-- Use Bootstrap grid classes -->
            <div class="card h-100"> <!-- Ensure the card takes full height available -->
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0">Level 4</p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x4</p>
                </div>
              </div>
              <img src="{% static 'img/kit4.jpg' %}" class="card-img-top" alt="Laptop" style="max-height: 150px; object-fit: contain;" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Communication</a></p>
                  <p class="small text-danger"><s>4000.00 INR</s></p>
                </div>
          
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">Wireless-Blocks</h5>
                  <h5 class="text-dark mb-0">INR 2999.00</h5>
                </div>
          
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="d-flex justify-content-end my-0">
                    <a href="#!" class="btn btn-danger">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
 

{% endblock %}
